<header><a routerLink="/" (click)="show('no')"> Product list</a>|<a routerLink="/cart"> Cart</a></header>
<div  *ngFor="let product of Products"  >
    <div class="product-container" *ngIf="producto==product.name || producto=='no'">
      <img class="product-image"src={{product.url}} width="100" height="100" (click)="show(product.name)"/>
      
      <p>{{product.name}}:</p>
      <p>{{product.price}}€</p>
      <p *ngIf="producto==product.name" >{{product.description}}</p>
      <input type="number" name="username" min="1"  value="{{product.counter}}" id="{{product.id}}">
      <br>
      <button (click)="addtocart(product)">add to cart</button>
      <br>
      <a *ngIf="producto==product.name" (click)="show('no')" routerLink="/">Back to product list</a>
    </div>
    <br>
</div>
